:root {
    --background-color: white;
    --border-color-form: black;
}

/* Reseto de estilos*/

body, html {
    margin: 0;
    padding: 0 ;
}



section {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}

/* Inicio de los estilos de la página */


/* Página de presentación */
.hero {
    width: 100%;
    height: 90vh;
    position: relative;
    background: var(--background-color);
}



.hero__video {
    width: 100%;
    height: 90%;
    top: 0;
    object-fit: cover;
    z-index: -1;
    filter: brightness(60%);
}

.hero__header {
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: rgb(0 0 0 / 0.2);
    width: 100vw;
    display: flex;
    align-items: center;
}

.hero__header::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: white;
    top: 100%;
    position: absolute ;
}

.hero__nav {
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
}

.hero__nav a {
    color: white;
    text-decoration: none;
}

.hero__icon {
    width: 90px;
    height: 80%;
}   

.hero__content {
    position: absolute;
    width: 100%;
    height: 75vh;
    top: 16vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__main_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    bottom: 100px;
    position: absolute;
}

.hero__button {
    background: transparent;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(255 255 255);
    width: 200px;
    height: 50px;
} 

.hero__main_icon {
    position: absolute;
    width: 400px;
    height: 400px;
}

.presentation {
    display: flex;
    background-color: var(--background-color);
}

.presentation__information {

    width: 40%;
    padding: 5%;

    & h2 {
        font-size: 2rem;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
    }
}

.presentation__gallery {
    display: grid;
    width: 60%;
    gap: 10px;
    margin: 2%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px);
    grid-template-areas:
        "img1 img1 img2 img3"
        "img4 img5 img6 img6"
        "img7 img8 img9 img9";

    & img {
        height: 100%;
        width: 100%; 
        border-radius: 15px;
        object-fit: cover;
    } 

    & .presentation__img1 {
        grid-area: img1;
    }

    & .presentation__img2 {
        grid-area: img2;
    }

    & .presentation__img3 {
        grid-area: img3;
    }

    & .presentation__img4 {
        grid-area: img4;
    }

    & .presentation__img5 {
        grid-area: img5;
    }

    & .presentation__img6 {
        grid-area: img6;
    }

    
    & .presentation__img7 {
        grid-area: img7;
    }

    
    & .presentation__img8 {
        grid-area: img8;
    }

    
    & .presentation__img9 {
        grid-area: img9;
    }

}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu__gallery {
    display: grid;
    grid-template-areas:
    "title title title"
    "image image image";
    gap: 40px;
    justify-content: center;

    & h3 {
        grid-area: "title";
        text-align: center;
    }

    & img {
        grid-area: "image";
        height: 400px;
        border-radius: 30px;
    }
}

.form__container {
    display: flex;
    align-items: center;
    justify-content: space-around;

}



.form__card h3 {
    text-align: center;

}

.form__card {
    width: 30vw;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid var(--border-color-form);
    border-radius: 15px;
    height: 60vh;
}

.form__field {
    margin: 10px;
    display: flex;
    gap: 10px;
}

.form__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.form__button button {
    background-color: transparent;
    border: 1px solid var(--border-color-form);
    width: 60%;
    border-radius: 15px;
    font-weight: bold;
}

/* Iconos del formulario*/

.material-symbols--fork-spoon {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M6 22v-9.15q-1.35-.35-2.175-1.425T3 9V2h2v6h1V2h2v6h1V2h2v7q0 1.35-.825 2.425T8 12.85V22zm10 0v-9.525q-1.35-.45-2.175-1.887T13 7.325Q13 5.1 14.175 3.55T17 2t2.825 1.562T21 7.35q0 1.825-.825 3.25T18 12.475V22z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.solar--calendar-bold {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M7.75 2.5a.75.75 0 0 0-1.5 0v1.58c-1.44.115-2.384.397-3.078 1.092c-.695.694-.977 1.639-1.093 3.078h19.842c-.116-1.44-.398-2.384-1.093-3.078c-.694-.695-1.639-.977-3.078-1.093V2.5a.75.75 0 0 0-1.5 0v1.513C15.585 4 14.839 4 14 4h-4c-.839 0-1.585 0-2.25.013z'/%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M2 12c0-.839 0-1.585.013-2.25h19.974C22 10.415 22 11.161 22 12v2c0 3.771 0 5.657-1.172 6.828S17.771 22 14 22h-4c-3.771 0-5.657 0-6.828-1.172S2 17.771 2 14zm15 2a1 1 0 1 0 0-2a1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2a1 1 0 0 0 0 2m-4-5a1 1 0 1 1-2 0a1 1 0 0 1 2 0m0 4a1 1 0 1 1-2 0a1 1 0 0 1 2 0m-6-3a1 1 0 1 0 0-2a1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2a1 1 0 0 0 0 2' clip-rule='evenodd'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.gravity-ui--clock {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M13.5 8a5.5 5.5 0 1 1-11 0a5.5 5.5 0 0 1 11 0M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0M8.75 4.5a.75.75 0 0 0-1.5 0V8a.75.75 0 0 0 .3.6l2 1.5a.75.75 0 1 0 .9-1.2l-1.7-1.275z' clip-rule='evenodd'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}




