:root {
    --background-color: white;
    --border-color-form: black;
}

/* Reseto de estilos*/

body, html {
    margin: 0;
    padding: 0 ;
}



section {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}

/* Inicio de los estilos de la página */


/* Página de presentación */
.hero {
    width: 100%;
    height: 90vh;
    position: relative;
    background: var(--background-color);
}



.hero__video {
    width: 100%;
    height: 90%;
    top: 0;
    object-fit: cover;
    z-index: -1;
    filter: brightness(60%);
}

.hero__header {
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: rgb(0 0 0 / 0.2);
    width: 100vw;
    display: flex;
    align-items: center;
}

.hero__header::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: white;
    top: 100%;
    position: absolute ;
}

.hero__nav {
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
}

.hero__nav a {
    color: white;
    text-decoration: none;
}

.hero__icon {
    width: 90px;
    height: 80%;
}   

.hero__content {
    position: absolute;
    width: 100%;
    height: 75vh;
    top: 16vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__main_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    bottom: 100px;
    position: absolute;
}

.hero__button {
    background: transparent;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(255 255 255);
    width: 200px;
    height: 50px;
} 

.hero__main_icon {
    position: absolute;
    width: 400px;
    height: 400px;
}

.presentation {
    display: flex;
    background-color: var(--background-color);
}

.presentation__information {

    width: 40%;
    padding: 5%;

    & h2 {
        font-size: 2rem;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
    }
}

.presentation__gallery {
    display: grid;
    width: 60%;
    gap: 10px;
    margin: 2%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px);
    grid-template-areas:
        "img1 img1 img2 img3"
        "img4 img5 img6 img6"
        "img7 img8 img9 img9";

    & img {
        height: 100%;
        width: 100%; 
        border-radius: 15px;
        object-fit: cover;
    } 

    & .presentation__img1 {
        grid-area: img1;
    }

    & .presentation__img2 {
        grid-area: img2;
    }

    & .presentation__img3 {
        grid-area: img3;
    }

    & .presentation__img4 {
        grid-area: img4;
    }

    & .presentation__img5 {
        grid-area: img5;
    }

    & .presentation__img6 {
        grid-area: img6;
    }

    
    & .presentation__img7 {
        grid-area: img7;
    }

    
    & .presentation__img8 {
        grid-area: img8;
    }

    
    & .presentation__img9 {
        grid-area: img9;
    }

}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu__gallery {
    display: grid;
    grid-template-areas:
    "title title title"
    "image image image";
    gap: 40px;
    justify-content: center;

    & h3 {
        grid-area: "title";
        text-align: center;
    }

    & img {
        grid-area: "image";
        height: 400px;
        border-radius: 30px;
    }
}

.form__container {
    display: flex;
}



.form__card h3 {
    text-align: center;

}

.form__card {
    width: 30vw;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 2px solid var(--border-color-form);
    border-radius: 15px;
    height: 60vh;
}

.form__button {
    background-color: transparent;
    border: 1px solid var(--border-color-form);
    border-radius: 10px;

}




